@import "compass"
+global-reset

body
    padding: 50px
    font: 14px Tahoma
    color: #333

p
    margin: 10px 0

#canvas
    display: none
    position: relative
    +box-shadow(0 0 10px 2px rgba(0, 0, 0, 0.2))
    p
        display: block
        position: absolute
        +border-radius(50%)
